*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
body ::-webkit-scrollbar {
  width: 5px;
}
body ::-webkit-scrollbar-track {
  background-color: #b4b6b6;
}
body ::-webkit-scrollbar-thumb {
  background-color: #95e1d3;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1920px;
}

.text {
  text-align: center;
  margin-inline: auto;
}
.text h4 {
  font-size: 2.4rem;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan Script";
  text-align: center;
  padding: 0 1rem 1rem;
}
.text h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  padding: 1rem 1rem 4rem;
}
.text p {
  width: 80%;
  height: 13rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin-inline: auto;
  padding: 4.5rem 1.5rem 0;
}

.lil {
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

header {
  width: 100%;
  position: absolute;
}
header .container nav {
  display: inline-block;
  font-family: Montserrat;
  width: 100%;
}
header .container nav .wrapper h3 {
  float: left;
  margin: 0 auto;
  font-size: 3rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  padding-top: 3rem;
}
header .container nav .wrapper ul {
  list-style: none;
  float: right;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  padding-top: 4rem;
}
header .container nav .wrapper ul li {
  display: inline-block;
  padding-left: 5.2rem;
  font-size: 1.4rem;
}

#landing {
  max-width: 1920px;
  min-height: 100vh;
  border: solid red;
  background-image: url(/images/main-banner.jpg);
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  background-position: center;
}
#landing .wrapper {
  position: relative;
  min-height: 100vh;
}
#landing .wrapper .main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#landing .wrapper .main h2 {
  vertical-align: center;
  color: #ffffff;
  font-weight: 400;
  font-family: "Kaushan Script";
  font-size: 7.2rem;
  display: inline-block;
  text-align: center;
  padding: 2rem 1rem;
}
#landing .wrapper .main h1 {
  font-size: 15rem;
  line-height: 14rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin-inline: auto;
  display: inline-block;
  padding: 2rem 1rem;
}
#landing .wrapper button {
  position: absolute;
  top: 80%;
  left: 43%;
  ransform: translate(-50%, -50%);
  width: 16rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ffffff;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-family: "Montserrat";
  text-align: center;
}
#landing .wrapper ol {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7rem;
  font-size: 0;
  padding: 2.5rem 1rem 2.5rem 0;
  list-style: none;
  counter-increment: counter;
}
#landing .wrapper ol li {
  width: 25%;
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  color: #ffffff;
  font-family: "Montserrat";
}

#what .wrapper {
  padding-top: 10rem;
}
#what .wrapper .text p {
  width: 80%;
  height: 13rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin-inline: auto;
  padding: 4.5rem 1.5rem 0;
}
#what .wrapper .aboutphotos {
  font-size: 0;
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#what .wrapper .aboutphotos .aboutimg {
  width: 33.33%;
  display: inline-block;
}
#what .wrapper .aboutphotos .aboutimg img {
  max-width: 100%;
}

#ratings {
  width: 100%;
  height: 27rem;
  background-color: #95e1d3;
}
#ratings .wrapper {
  font-size: 0;
  width: 100%;
}
#ratings .wrapper .ratings {
  display: inline-block;
  width: 20%;
  font-size: 7.2rem;
  text-align: center;
  font-weight: bold;
  padding: 9rem 0 6rem;
  color: #ffffff;
  font-family: "Montserrat";
}
#ratings span {
  font-size: 1.4rem;
  display: block;
  padding-top: 3rem;
  font-family: "Montserrat";
}

#services .wrapper {
  padding-top: 10rem;
}
#services .wrapper .section {
  width: 100%;
  margin: 6.5rem;
  margin-inline: auto;
}
#services .wrapper .section .item {
  width: 32%;
  display: inline-block;
  padding: 1rem 3rem 1rem;
}
#services .wrapper .section .item .photo {
  max-width: 20%;
  display: inline-block;
  float: left;
}
#services .wrapper .section .item .photo img {
  display: inline-block;
}
#services .wrapper .section .item .itemtext {
  display: inline-block;
  width: 29rem;
  padding-left: 2.8rem;
}
#services .wrapper .section .item .itemtext h5 {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  display: inline-block;
  text-transform: uppercase;
}
#services .wrapper .section .item .itemtext p {
  max-width: 29rem;
  height: 8.1rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  display: inline-block;
  padding-top: 2rem;
  width: 100%;
}

#unique {
  position: relative;
  background-image: url(/images/foralldevices-bg.jpg);
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  background-position: center;
}
#unique .wrapper {
  padding-top: 10rem;
}
#unique .wrapper .tablet {
  padding-top: 10rem;
}
#unique .wrapper .tablet img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}
#unique .wrapper .iphone {
  position: absolute;
  left: 55%;
  top: 60%;
  max-width: 100%;
  height: auto;
}

#service .wrapper {
  padding-top: 10rem;
  padding-bottom: 12rem;
  font-size: 0;
}
#service .wrapper .services {
  font-size: 0;
  width: 100%;
  padding-top: 8.5rem;
}
#service .wrapper .services .wallphot {
  font-size: 0;
  width: 49%;
  display: inline-block;
}
#service .wrapper .services .wallphot .whatwedo {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#service .wrapper .ako {
  max-width: 50%;
  display: inline-block;
  font-size: 0;
}
#service .wrapper .ako .accordion {
  background-color: #eee;
  width: 100%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #e5e5e5;
  outline: none;
  max-height: 6rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
}
#service .wrapper .ako .accordion p {
  padding: 2.5rem 0;
  display: inline-block;
}
#service .wrapper .ako .accordion img {
  float: left;
  padding: 1.5rem;
}
#service .wrapper .ako .accordion .up {
  float: right;
  padding: 2.4rem 0.2rem;
}
#service .wrapper .ako .accordion .down {
  transform: rotate(180deg);
  float: right;
  padding: 2.4rem 0.2rem;
}
#service .wrapper .ako .panel {
  background-color: white;
  padding: 2rem 2rem 0;
  overflow: scroll;
  height: 18.2rem;
  overflow-x: hidden;
}
#service .wrapper .ako .panel p {
  height: 13.5rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  width: 100%;
  display: inline-block;
}

#qoute {
  background-color: #f8f8f8;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 7rem 0;
}
#qoute .wrapper {
  max-height: 29.1rem;
}
#qoute .wrapper .arrowleft {
  display: inline-block;
  vertical-align: center;
  padding: 13.5rem 0;
}
#qoute .wrapper .arrowleft .left {
  transform: rotate(270deg);
  display: inline-block;
}
#qoute .wrapper .chicon {
  display: inline-block;
  vertical-align: middle;
  padding-left: 7.3rem;
  max-width: 20%;
}
#qoute .wrapper .chicon .chaticon {
  height: auto;
  max-width: 100%;
}
#qoute .wrapper .comment {
  display: inline-block;
  vertical-align: middle;
  padding-left: 6.1rem;
}
#qoute .wrapper .comment p {
  max-width: 77rem;
  max-height: 14.7rem;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  display: inline-block;
  text-align: left;
}
#qoute .wrapper .comment .qoute {
  display: block;
}
#qoute .wrapper .comment .qoute p {
  padding-left: 1rem;
  font-size: 2.4rem;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan Script";
}
#qoute .wrapper .comment .qoute .qline {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  display: inline-block;
  margin: 0;
  padding-right: 1rem;
  vertical-align: super;
}
#qoute .wrapper .arrowright {
  display: inline-block;
  vertical-align: center;
  padding: 13.5rem 0;
  padding-left: 7.4rem;
}
#qoute .wrapper .arrowright .right {
  display: inline-block;
}

#meetourteam {
  padding-top: 10rem;
}
#meetourteam .wrapper {
  padding-bottom: 10rem;
}
#meetourteam .wrapper .teamphotos {
  width: 100%;
  font-size: 0;
}
#meetourteam .wrapper .teamphotos .first {
  display: inline-block;
  width: 32%;
}
#meetourteam .wrapper .teamphotos .first .tphoto img {
  max-width: 100%;
  height: auto;
}
#meetourteam .wrapper .teamphotos .first .name {
  padding-top: 3.1rem;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
}
#meetourteam .wrapper .teamphotos .first .position {
  text-align: center;
  padding-top: 1.5rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}

#logos {
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  background-color: #f8f8f8;
}
#logos .wrapper {
  font-size: 0;
  padding: 5rem 0;
}
#logos .wrapper .logo {
  display: inline-block;
  padding: 3rem;
  width: 20rem;
}

.gallery {
  width: 100%;
  height: 78rem;
  font-size: 0;
  display: inline-block;
}
.gallery .galer1 {
  width: 25%;
  height: 100%;
  display: inline-block;
}
.gallery .galer1 .galpho1 {
  display: inline-block;
  width: 100%;
  height: 50%;
  background-image: url(/images/gal-01.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .galer1 .galpho2 {
  display: inline-block;
  width: 100%;
  height: 50%;
  background-image: url(/images/gal-02.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .galer2 {
  width: 25%;
  height: 100%;
  display: inline-block;
}
.gallery .galer2 .galpho3 {
  display: inline-block;
  width: 100%;
  height: 50%;
  background-image: url(/images/gal-05.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .galer2 .galpho4 {
  display: inline-block;
  width: 100%;
  height: 50%;
  background-image: url(/images/gal-06.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .galer3 {
  width: 25%;
  height: 100%;
  display: inline-block;
}
.gallery .galer3 .galpho5 {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url(/images/gal-03.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .galer4 {
  width: 25%;
  height: 100%;
  display: inline-block;
}
.gallery .galer4 .galpho6 {
  display: inline-block;
  width: 100%;
  height: 50%;
  background-image: url(/images/gal-04.jpg);
  background-size: cover;
  background-position: center;
}
.gallery .galer4 .galpho7 {
  display: inline-block;
  width: 100%;
  height: 50%;
  background-image: url(/images/gal-07.jpg);
  background-size: cover;
  background-position: center;
}

#qoute2 {
  background-color: #f8f8f8;
  max-width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 7rem 0;
}
#qoute2 .wrapper {
  max-height: 29.1rem;
}
#qoute2 .wrapper .arrowleft {
  display: inline-block;
  vertical-align: center;
  padding: 13.5rem 0;
}
#qoute2 .wrapper .arrowleft .left {
  transform: rotate(270deg);
  display: inline-block;
}
#qoute2 .wrapper .chicon {
  display: inline-block;
  vertical-align: middle;
  padding-left: 7.3rem;
  max-width: 20%;
}
#qoute2 .wrapper .chicon .chaticon {
  border-radius: 10rem;
  height: auto;
  max-width: 100%;
}
#qoute2 .wrapper .comment {
  display: inline-block;
  vertical-align: middle;
  padding-left: 6.1rem;
}
#qoute2 .wrapper .comment p {
  max-width: 77rem;
  max-height: 14.7rem;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  display: inline-block;
  text-align: left;
}
#qoute2 .wrapper .comment .qoute {
  display: block;
}
#qoute2 .wrapper .comment .qoute p {
  padding-left: 1rem;
  font-size: 2.4rem;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan Script";
}
#qoute2 .wrapper .comment .qoute .qline {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  display: inline-block;
  margin: 0;
  padding-right: 1rem;
  vertical-align: super;
}
#qoute2 .wrapper .arrowright {
  display: inline-block;
  vertical-align: center;
  padding: 13.5rem 0;
  padding-left: 7.4rem;
}
#qoute2 .wrapper .arrowright .right {
  display: inline-block;
}

#peoplesay {
  position: relative;
  background-image: url(/images/happyclients-bg.jpg);
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  background-position: center;
  padding: 13rem 0;
  font-size: 0;
}
#peoplesay .col1 {
  min-width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-block;
  padding-top: 2rem;
  padding-left: 8.5rem;
}
#peoplesay .col1 .client {
  height: 50%;
  font-size: 0;
  padding-top: 8.1rem;
}
#peoplesay .col1 .client .cphoto {
  width: 25%;
  display: inline-block;
  height: 100%;
  vertical-align: top;
}
#peoplesay .col1 .client .cphoto img {
  border-radius: 100px;
}
#peoplesay .col1 .client .info {
  width: 75%;
  display: inline-block;
}
#peoplesay .col1 .client .info .name {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
}
#peoplesay .col1 .client .info .position {
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  padding: 1.5rem 0;
}
#peoplesay .col1 .client .info .lil2 {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  display: inline-block;
}
#peoplesay .col1 .client .info .comment {
  width: 389px;
  height: 129px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  text-align: left;
  padding-top: 2.4rem;
}

#blog {
  padding: 10rem 0;
}
#blog .wrapper {
  font-size: 0;
}
#blog .wrapper .text {
  padding-bottom: 4rem;
}
#blog .wrapper .blog {
  display: inline-block;
  min-width: 33%;
  position: relative;
}
#blog .wrapper .date {
  position: absolute;
  top: 40%;
  left: -3%;
  width: 60px;
  height: 70px;
  padding: 15px;
  background-color: #95e1d3;
}
#blog .wrapper .date span {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  display: block;
}
#blog .wrapper .date span:last-child {
  font-size: 15px;
}
#blog .wrapper h5 {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  padding-top: 1.8rem;
}
#blog .wrapper .counter {
  width: 380px;
  height: 130px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  padding-top: 2rem;
}
#blog .wrapper .counter .counters p {
  display: inline-block;
  padding-right: 18px;
}

#map {
  min-width: 100%;
  height: 201px;
  position: relative;
  background-image: url(/images/map-bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 5.7rem;
}
#map .wrapper {
  text-align: center;
}
#map .wrapper h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: #f38181;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  padding: 2rem 0;
}

#footer {
  height: -moz-fit-content;
  height: fit-content;
  padding: 7.5rem 0 0;
}
#footer .wrapper {
  font-size: 0;
}
#footer .wrapper .left {
  text-align: left;
  min-width: 48rem;
  display: inline-block;
  padding-right: 30px;
}
#footer .wrapper .left .txt {
  padding-top: 4.2rem;
}
#footer .wrapper .left .txt p {
  max-width: 47.2rem;
  max-height: 10.2rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
}
#footer .wrapper .left .followers {
  padding-top: 5rem;
  padding-bottom: 1.7rem;
}
#footer .wrapper .left .followers .number {
  font-size: 1.8rem;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
}
#footer .wrapper .left .followers .follo {
  font-size: 1.4rem;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
}
#footer .wrapper .left .logos {
  padding-top: 18px;
}
#footer .wrapper .left .logos span {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
#footer .wrapper .left .logos span:last-child {
  padding-left: 5px;
}
#footer .wrapper .left .logos img {
  padding-left: 1.5rem;
}
#footer .wrapper .left .email {
  padding-top: 38px;
}
#footer .wrapper .left .email input {
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  text-align: left;
}
#footer .wrapper .left .email button {
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  border: none;
}
#footer .wrapper .mid {
  display: inline-block;
  padding-top: 15rem;
  padding-bottom: 6.8rem;
}
#footer .wrapper .mid h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
}
#footer .wrapper .mid .blog {
  padding-top: 4rem;
  font-size: 0;
}
#footer .wrapper .mid .blog .blogfoto {
  height: 100%;
  width: 119px;
  display: inline-block;
  vertical-align: sub;
}
#footer .wrapper .mid .blog .blogtxt {
  padding-left: 20px;
  min-width: 60%;
  display: inline-block;
}
#footer .wrapper .mid .blog .blogtxt p {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: left;
  height: 27px;
  width: 194px;
}
#footer .wrapper .mid .blog .blogtxt span {
  font-size: 13px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  padding-top: 12px;
  display: inline-block;
}
#footer .wrapper .right {
  display: inline-block;
}
#footer .wrapper .right h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  padding-bottom: 4rem;
}
#footer .wrapper .right .instagram {
  padding-bottom: 20px;
}
#footer .wrapper .right span {
  font-size: 13px;
  line-height: 24px;
  color: #333333;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
#footer .lastline {
  text-align: center;
}
#footer .lastline span {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: inline-block;
}
#footer .lastline p {
  display: inline-block;
  font-size: 14px;
  color: #f4adad;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  padding-left: 5px;
}

@media screen and (max-width: 850px) {
  html {
    font-size: 38%;
  }
}/*# sourceMappingURL=style.css.map */